.cards{
 display: flex;
 position: relative;
 flex-direction: grid;
 flex-wrap: wrap;
 align-items:flex-start;
 justify-content: center;
 margin-top: 10px;
 margin-left: 50px;
 margin-right: 50px;
 padding: 25px; 
}

.cardLink{
 text-decoration: none;
 cursor:-moz-grab;
 transition: all 400ms ease;
}

.cardLink:hover{
 transform: translateY(-2%);
}

.btnRefresh{
 position: relative;
 font-family: 'Kanit', sans-serif;
 font-size: 16px;
 border: 1px solid #F7EDE6;
 border-radius: 10px;
 background: #F07928;
 box-shadow: 1px 3px 5px 0px grey;
 color: #FEF2E8;
 width: 150px;
 height: 30px; 
 outline: none;
 cursor: pointer;
}

.btnRefresh:hover{
 background: white;
 color: #F07928;
}


.container2{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-left: 10px;
 margin-right: 10px;
}

.sort{
 font-family: 'Kanit', sans-serif;
 font-size: 16px;
 border: 1px solid #37265F;
 border-radius: 10px;
 margin-left: 800px;
 margin-right: 10px;
 background: #603162;
 color: white;
 width: 250px;
 box-shadow: 1px 3px 5px 0px grey;
}

.filter{
 font-family: 'Kanit', sans-serif;
 font-size: 16px;
 border: 1px solid #37265F;
 border-radius: 10px;
 background: #603162;
 color: white;
 margin-right: 10px;
 width: 250px;
 box-shadow: 1px 3px 5px 0px grey;
}

.select{
 font-family: 'Kanit', sans-serif;
 font-size: 16px;
 padding-left: 5px;
 padding-right: 5px;
 border: 1px solid grey;
 border-radius: 10px;
 margin-bottom: 2px;
 cursor: pointer;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
}

.select:focus{
 outline: none;
 color:black;
 background: lightgray;
}


.select option{
 border: 1px solid #37265F;
 border-radius: 5px;
 outline: none;
 background: white;
}


.label{
 margin-right: 5px;
 margin-left: 5px;
}

.label2{
 margin-left: 3px;
 text-decoration: underline;
}

.paged{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}